@import '../../utils/styles/global-styles.scss';
.login{
    &__height{
        &-100{
            height:100vh
        }
    }
    &__wrapper{
        height: 100vh;
        background:$white;
    }
    &__column{
        &__button{
            width:100%;
            border-radius: 25px;

        }
        &__paddingTop{
            &-20{
                padding-top:20px
            }
        }
        &__headerContainer{
            width:100%;
            display:flex;
            justify-content: center;
            padding-bottom:20px;
        }
        &__form{
            padding:150px;
        }
        &__image{
            height:100vh;
            background-image: url('../../assets/login_page_background.jpg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        width:50%;
    }
}

@media only screen and (max-width: $medium ){
    .login{
        &__column{
            &__form{
                width:100%;
            }
            &__image{
                display:none
            }
        }
    }
}

