.login{
    &__height{
        &-100{
            height:100vh
        }
    }
    &__wrapper{
        height: 100vh;
        background:white;
    }
    &__column{
        &__button{
            width:100%;
            border-radius: 25px;

        }
        &__paddingTop{
            &-20{
                padding-top:20px
            }
        }
        &__forgetPasswordContainer{
            &-cursorPointer{
                cursor: pointer;
            }
            width:100%;
            display:flex;
            justify-content: flex-end;
        }
        &__headerContainer{
            width:100%;
            display:flex;
            justify-content: center;
            padding-bottom:20px;
        }
        &__form{
            padding:150px;
        }
        &__image{
            height:100vh;
            background-image: url('../../../Assets/login_page_background.jpg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        width:50%;
    }
}